{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <meta name="robots" content="noarchive">

  {% if page %}
    <meta property="og:title" content="{{ page.title | e }} - {{ config.site_name | e }}">
    <meta property="og:description" content="{{ page.meta.description | default(config.site_description) | e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.canonical_url | e }}">

    {% if page.meta.social_image %}
      <meta property="og:image" content="{{ page.meta.social_image | e }}">
    {% endif %}
  {% endif %}
{% endblock %}