:root {
  --md-grid-max-width: 100%;
}

.md-header__inner,
.md-main__inner {
  max-width: 100% !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.md-typeset hr {
  border-bottom: 2px solid;
}

[data-md-color-scheme="default"] .md-typeset hr {
  border-color: rgba(0, 0, 0, 0.7);
}

[data-md-color-scheme="slate"] .md-typeset hr {
  border-color: rgba(255, 255, 255, 0.7);
}